{% extends 'base.html' %}{% load static %}
{% block content %}
{% load i18n %}
{% get_current_language as language_code %}
{% get_available_languages as languages %}


<link rel="stylesheet" type="text/css" href="{% static 'css/product_detail.css' %}"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'js/product_detail.js' %}"></script>
<!--<div class="banner" style="background-image: url('{{ product.get_default_image }}');">-->
<!--    <div class="banner-text">-->
<!--        <h3 class="mobile">#{{ product.type }}</h3><br>-->
<!--        <h3 class="desktop">#{{ product.type }}</h3><br>-->
<!--        <h1>{{ product.name }}</h1><br>-->
<!--    </div>-->

<!--</div>-->
    <div id="card-desktop">
        {% include 'components/cart.html' with from_details=True %}
    </div>
    <div id="card-mobile">
        {% include 'components/cart.html' with from_details=True %}
    </div>
<!-- Gallery class="font-weight-light text-center text-lg-left mt-4 mb-0"-->
{% if product.get_default_image %}
<div class="container" id="images"><br>
    {% for img in product.get_images %}
    <div class="mySlides">
        <img src="{{ img.image.url }}" width="100%" height="300rem">
    </div>
    {% endfor %}

    <div class="row text-center text-lg-left desktop">
        {% for img in product.get_images %}
        <div class="col-3">
            <div href="#" class="d-block mb-4 h-100">
                <img width="100%" onmouseover="currentSlide({{ forloop.counter }})" onclick="currentSlide({{ forloop.counter }})" class="img-fluid demo cursor" src="{{ img.image.url }}" alt="l">
                {% if forloop.counter == 4 %}
                <div id="more">{% trans "Show more" %}</div>
                <script>
                    var moreImagesCount = "{{ product.get_images_count|safe }}" - 4;
                    document.getElementById('more').innerHTML = "+" + moreImagesCount + " {% trans "photo" %}";
                </script>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row text-center text-lg-left mobile">
        {% for img in product.get_images %}
        <div class="col-4">
            <div href="#" class="d-block mb-4 h-100">
                <img width="100%" onmouseover="currentSlide({{ forloop.counter }})" onclick="currentSlide({{ forloop.counter }})" class="img-fluid demo cursor" src="{{ img.image.url }}" alt="l">
                {% if forloop.counter == 3 %}
                <div id="more-mobile">{% trans "Show more" %}</div>
                <script>
                    var moreImagesCount = "{{ product.get_images_count|safe }}" - 3;
                    document.getElementById('more-mobile').innerHTML = "+" + moreImagesCount + " {% trans "photo" %}";
                </script>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

</div>

<div class="container">

</div>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);
</script>
{% endif %}

<div id="description">
    <h1>{{ product.name }}</h1>
    <div> {{ product.content|safe }}</div>
</div>

{% endblock %}
