{% extends 'base.html' %}{% load static %}
{% block content %}
{% load i18n %}
{% get_current_language as language_code %}
{% get_available_languages as languages %}

<link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}"/>
    <script>
        var productListUrl = "{% url 'product:index' %}";
    </script>
        {% if not from_index %}
            {% if categories %}
                <div class="d-flex ml-3 mt-4 mb-3 category-box flex-wrap">
<!--                        <div id="category" class="category-item activ mt-2" value="">{% trans "#All" %}</div>-->
                    {% for category in categories %}
                        <div id="category" class="category-item mt-2" value="{{category.pk}}">{{ category.title }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}
<div id="card-columns" class="card-columns">
    {% include 'product/products.html' with products=products %}
</div>
<script src="{% static 'js/products_list.js' %}"></script>
{% endblock %}
