{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load i18n %}
{% get_current_language as language_code %}
{% get_available_languages as languages %}

<link href="{% static 'css/about.css' %}" rel="stylesheet" type="text/css"/>
{% if about_us %}
<div>
<div class="banner mt-4" style="background-image: url('{{ about_us.0.image.url }}');">
</div>
<div class="container about-container">
    <div id="what-we-do" class="static-section">
            <h1>{% trans "What we do" %}</h1>
            <p>{{ about_us.0.what_we_do|safe }}</p>
        </div>
        <div id="our-team" class="static-section">
            <h1>{% trans "Our team" %}</h1>
            <p>{{ about_us.0.our_team|safe }}</p>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
