a {
    text-decoration:none;
    color: #0ca6a1;
}

a:hover {
    color: #0ca6a1;
}

a.button, input[type="submit"] {
    color:#fff;
    background: #0ca6a1;
    border-radius:4px;
    padding:10px 20px;
    font-size:14px;
    border:0;
}

a.button.light {
    color: rgba(0,0,0,.5);
    background: #ededed;
}

.text-left {
    text-align:left;
}

.text-right {
    text-align:right;
}

table {
    width:100%;
    border-spacing:0;
    border-collapse: collapse;
}

table th, table td {
    text-align: center;
    font-size:14px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 0px;
}

tbody tr:nth-child(odd) {
    background:#efefef;
}

tbody tr.subtotal {
    background:#ccc;
}

thead th, tbody tr.total {
    background: #0ca6a1;
    color:#fff;
    font-weight:bold;
}

table.cart {
    margin-bottom:40px;
}

table.cart img {
    width: 11rem;
    height: 13rem;
}

/*tbody td.num {
    text-align:right;
}*/

td input[type="submit"] {
    font-size:12px;
    padding:4px 17px;
}

form p label, form p input {
    float:left;
    clear:both;
}

form p label {
    font-size:14px;
    padding-bottom:4px;
}

form p input {
    width:300px;
    font-size:13px;
    margin-bottom:10px;
    padding:10px 12px;
    border:0;
    background:#efefef;
    color:#667;
    border-radius:4px;
}

ul.errorlist {
   float:left;
   color:#ff0000;
   clear:both;
   font-size:13px;
   margin:0;
   padding:0;
}

/* braintree hosted fields */
form div.field {
    font-size:13px;
    color:#667;
    width:300px;
    height:22px;
    margin-bottom:10px;
    padding:6px 12px;
    border:0;
    background:#efefef;
    color:#667;
    border-radius:4px;
}

/*form in cart_detail*/
.form-control {
    display: inline;
    width: 45%;
    height: calc(1.1em + .75rem + 2px);
}

@media only screen and (max-width: 768px) {
    .name, .pr-total {
        display: none;
    }

    table.cart img {
        width: 3rem;
        height: 4rem;
    }

    .form-control {
        display: block;
        width: 100%;
        height: calc(1.1em + .75rem + 2px);
    }

    input.btn.btn-primary.btn-cust {
        width: 33%!important;
        padding: 0.3rem!important;
    }
}

input {
    color: #0ca6a1;
	text-align: center;
}

#input .btn-cust {
    text-align: center;
    vertical-align: middle;
    width: 13%;
    border-radius: 4px;
    margin: 0.3rem;
    padding: 0.3rem;
    background: linear-gradient(270deg, #00928A 0%, #0ca6a1 100%);
    border:none;
    font-size: 24px;
    line-height: 19px;
    color: #ffffff;
    font-weight: 550;
    text-transform: uppercase;
    display: inline-block;
}

/*#total-amount {
    background-color: #12d3d3;
}*/
