@font-face {
    font-family: IcoFont;
    src: url('fontes/icoFont.woff');
}

.navbar-light .navbar-nav a.nav-link.active, div a.nav-link.active {
    color: #0EACA8;
    border-bottom: 2px solid #0ca6a1;
}

.navbar-light .navbar-nav .nav-link:hover {
    color:#0ca6a1;
}

a.nav-link {
    color: rgba(0,0,0,.5)
}


button.btn.btn-outline-success, button.btn.btn-outline-success:focus {
box-shadow: none;
    color: #0ca6a1;
    border-color: #0ca6a1;
}

button.btn.btn-outline-success:hover, button.btn.btn-outline-success.my-2.my-sm-0:active {;
    color: white;
    background-color: #0ca6a1;
}

#header {
    border-bottom: 3px solid #0ca6a1;
}



