body {
    background-image: url("/static/images/background.png");
}

.img-fluid {
    height: 21rem;
}

.card-columns .card {
    border: 1px solid #0ca6a1;
    margin: 1rem 1rem 1rem 1rem;
}

.btn.btn-primary, .btn.btn-primary:focus {
    border-color: #0ca6a1;
    background-color: #0ca6a1;
}

a.btn.btn-primary:active {
    border-color: #0ca6a1;
    background-color: #0ca6a1;
}

#price {
    font-size: 25px;
    color: #0ca6a1;
}

.card-body p {
    margin-top: 1rem;
    font-size: 14px;
}

@media(min-width: 426px) {
.card-columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
}
}

.category-item {
	border: 1px solid #0ca6a1;
	font-size: 14px;
	color: #0ca6a1;
	padding: 7px 7px;
	padding-right: 20px;
	margin-right: 7px;
	border-radius: 4px;
	cursor: pointer;
	font-weight: 600;
}

.category-item.activ {
	color: #ffffff;
	background-color: #0ca6a1;
}
