body {
    background-image: url("/static/images/background.png");
}

.img-fluid {
    height: 21rem;
}

.card-columns .car {
    margin: 1rem 1rem 1rem 1rem;
}

.btn.btn-primary {
    border-color: #0ca6a1;
    background-color: #0ca6a1;
}

a.btn.btn-primary:active {
    borer-color: #0ca6a1;
    background-color: #0ca6a1;
}

#price {
    font-size: 25px;
    color: #0ca6a1;
}

.card-body p {
    margin-top: 1rem;
    /*min-height: 200px;*/
    font-size: 14px;
}

@media(min-width: 425px) {
.card-columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
}
}
