{% load static %}
{% load i18n %}
{% get_current_language as language_code %}
{% get_available_languages as languages %}

<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}"/>

<header id="header">
    {% with request.resolver_match.url_name as url_name %}
    <nav class="navbar navbar-light navbar-expand-lg">
        <a class="navbar-brand ml-5 {% if url_name == 'index' %}active{% endif %}" href="/">
            <img src="{% static 'images/logo.png' %}" width="50" height="50%" alt="" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'index' %}active{% endif %}" href="{% url 'product:index' %}">{% trans "Home" %} <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'men' %}active{% endif %}" href="{% url 'product:men' %}">{% trans "For him" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'women' %}active{% endif %}" href="{% url 'product:women' %}">{% trans "For her" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'child' %}active{% endif %}" href="{% url 'product:child' %}">{% trans "For child" %}</a>
                </li>
<!--                <li class="nav-item">-->

<!--                </li>-->
            </ul>
                    {% with total_items=cart|length %}
                    {% if cart|length > 0 %}
                    <a id="cart-nav-link" class="nav-link {% if url_name == 'cart_detail' %}active{% endif %}" href="{% url 'cart:cart_detail' %}">
                        <img width="35px" height="35px" src="{% static 'images/cart5.webp' %}"> ֏ {{ cart.get_total_price }}
<!--                        <img width="35px" height="35px" src="{% static 'images/cart5.webp' %}"> {{ total_items }} {% trans "items" %} ֏ {{ cart.get_total_price }}-->
                    </a>
                    {% else %}
                    <a id="cart-nav-link" class="nav-link {% if url_name == 'cart_detail' %}active{% endif %}" href="{% url 'cart:cart_detail' %}">
                        <img width="35px" height="35px" src="{% static 'images/cart5.webp' %}"> {% trans "֏ 0" %}
                    </a>
                    {% endif %}
                    {% endwith %}

<!--                <li class="dropdown" id="language-switcher">-->
        <form action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}" />

            <select class="selectpicker" name="language" style="width: auto;" onchange="this.form.submit()">
              {% get_current_language as LANGUAGE_CODE %}
              {% get_available_languages as LANGUAGES %}
              {% get_language_info_list for LANGUAGES as languages %}
              {% for language in languages %}

                  <option
                    value="{{ language.code }}"
                    {% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}
                    data-content='
                    <img src="/static/images/flags/{{ language.code }}.png">
                    <span style="display:inline-block; width:100px; padding-left: 10px; text-shadow:none">
                      {{ language.name_local }}
                      <!-- span style="color:#999;">&nbsp;[{{ language.code }}]</span -->
                    </span>'>
                    {{ language.code }}
                  </option>

              {% endfor %}
            </select>
        </form>

<!--    </li>-->
        </div>
    </nav>
    {% endwith %}
</header>
