{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}"/>

<header id="header">
    {% with request.resolver_match.url_name as url_name %}
    <nav class="navbar navbar-light navbar-expand-lg">
        <a class="navbar-brand ml-5 {% if url_name == 'index' %}active{% endif %}" href="/">
            <img src="{% static 'images/logo.png' %}" width="50" height="50%" alt="" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'index' %}active{% endif %}" href="{% url 'product:index' %}">Home <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'men' %}active{% endif %}" href="{% url 'product:men' %}">Men</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'women' %}active{% endif %}" href="{% url 'product:women' %}">Women</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'child' %}active{% endif %}" href="{% url 'product:child' %}">Child</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'about' %}active{% endif %}" href="{% url 'resources:about' %}">About us</a>
                </li>
<!--                <li class="nav-item">-->

<!--                </li>-->
            </ul>
                    {% with total_items=cart|length %}
                    {% if cart|length > 0 %}
                    <a class="nav-link {% if url_name == 'cart_detail' %}active{% endif %}" href="{% url 'cart:cart_detail' %}">
                        <img width="35px" height="35px" src="{% static 'images/cart5.webp' %}"> {{ total_items }} items ${{ cart.get_total_price }}
                    </a>
                    {% else %}
                    Empty cart
                    {% endif %}
                    {% endwith %}
        </div>
    </nav>
    {% endwith %}
</header>
