{% extends 'base.html' %}{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cart_detail.css' %}"/>
<table class="cart">
    <thead>
    <tr>
        <th>Image</th>
        <th class="name">Name</th>
        <th>Update</th>
        <th>Delete</th>
        <th>Quantity</th>
        <th>Price</th>
        <th class="total">Total</th>
    </tr>
    </thead>
    <tbody>
        {% for item in cart %}
        {% with product=item.product %}
        <tr>
            <td>
                <a href="{{ product.get_absolute_url }}">
                    <img height="200px"
                        src="{% if product.get_default_image %}{{ product.get_default_image }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
                </a>
            </td>
            <td class="name">{{ product.name }}</td>
            <td>
                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    {{ item.update_quantity_form.quantity }}
                    {{ item.update_quantity_form.update }}
                    <input type="submit" value="Update">
                    {% csrf_token %}
                </form>
            </td>
            <td><a href="{% url 'cart:cart_remove' product.id %}">Delete</a></td>
            <td>
                {{ item.quantity }}
            </td>
            <td class="num">֏ {{ item.price }}</td>
            <td class="num total">֏ {{ item.total_price }}</td>
        </tr>
        {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Total amount</td>
            <td colspan="4"></td>
            <td class="num">֏ {{ cart.get_total_price }}</td>
        </tr>
    </tbody>
</table>
<p class="text-right">
    <a href="{% url 'product:index' %}" class="button light">To the store</a>
    <a href="{% url 'cart:checkout' %}" class="button">Checkout</a>
</p>
{% endblock %}
