{% extends 'base.html' %}{% load static %}
{% block content %}
{% load i18n %}
{% get_current_language as language_code %}
{% get_available_languages as languages %}

<link rel="stylesheet" type="text/css" href="{% static 'css/cart_detail.css' %}"/>
<table class="cart">
    <thead>
    <tr>
        <th>{% trans "Image" %}</th>
        <th class="name">{% trans "Name" %}</th>
        <th>{% trans "Update" %}</th>
        <th>{% trans "Delete" %}</th>
        <th>{% trans "Quantity" %}</th>
        <th>{% trans "Price" %}</th>
        <th class="pr-total">{% trans "Total" %}</th>
    </tr>
    </thead>
    <tbody>
        {% for item in cart %}
        {% with product=item.product %}
        <tr>
            <td>
                <a href="{{ product.get_absolute_url }}">
                    <img height="200px"
                        src="{% if product.get_default_image %}{{ product.get_default_image }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
                </a>
            </td>
            <td class="name">{{ product.name }}</td>
            <td>
                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    <input type="number" name="quantity" value="{{ item.quantity }}" class="form-control" id="quantity"
                           placeholder="0" onfocus="this.placeholder = ''" min="1" max="{{ product.count }}" requiredr
                           oninvalid="this.setCustomValidity('In the store {{ product.count }} items')"
                           oninput="setCustomValidity('')">
                    <input type="hidden" name="update" id="id_update" value="True">
<!--                    {{ item.update_quantity_form.quantity }}-->
<!--                    {{ item.update_quantity_form.update }}-->
                    <input type="submit" value="Update">
                    {% csrf_token %}
                </form>
            </td>
            <td><a href="{% url 'cart:cart_remove' product.id %}">{% trans "Delete" %}</a></td>
            <td>
                {{ item.quantity }}
            </td>
            <td class="num">֏ {{ item.price }}</td>
            <td class="num pr-total">֏ {{ item.total_price }}</td>
        </tr>
        {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>{% trans "Total amount" %}</td>
            <td colspan="2"></td>
            <td class="num">֏ {{ cart.get_total_price }}</td>
        </tr>
    </tbody>
</table>
<p class="text-right">
    <a href="{% url 'product:index' %}" class="button light">{% trans "To the store" %}</a>
    <a href="{% url 'cart:checkout' %}" class="button">{% trans "Checkout" %}</a>
</p>
{% endblock %}
