{% extends 'base.html' %}{% load static %}
{% block content %}
{% load i18n %}
{% get_current_language as language_code %}
{% get_available_languages as languages %}

<link rel="stylesheet" type="text/css" href="{% static 'css/cart_detail.css' %}"/>
<script src="{% static 'js/cart_detail.js' %}"></script>


<table class="cart">
    <thead>
    <tr>
        <th>{% trans "Image" %}</th>
        <th class="name">{% trans "Name" %}</th>
        <th>{% trans "Quantity" %}</th>
<!--        <th>{% trans "Quantity" %}</th>-->
        <th>{% trans "Price" %}</th>
        <th class="pr-total">{% trans "Total" %}</th>
        <th>{% trans "Delete" %}</th>
    </tr>
    </thead>
    <tbody>
        {% for item in cart %}
        {% with product=item.product %}

        <tr>
            <td>
                <a href="{{ product.get_absolute_url }}">
                    <img height="200px"
                        src="{% if product.get_default_image %}{{ product.get_default_image }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
                </a>
            </td>
            <td class="name">{{ product.name }}</td>
            <td id="td{{ product.id }}">
                <div id="err{{ product.id }}"></div>
                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    {% csrf_token %}
                    <div id="input">
                    <input type="button" value="-" class="btn btn-primary btn-cust" onclick="minus({{ product.id }})"/>
                    <input type="number" name="quantity" value="{{ item.quantity }}" class="form-control inp" id="{{ product.id }}"
                           placeholder="0" onfocus="this.placeholder = ''" min="1" max="{{ product.count }}" required
                           oninvalid="this.setCustomValidity('{% trans 'Is available' %} {{ product.count }} {% trans 'items' %}')"
                           oninput="setCustomValidity('')">
                    <input type="hidden" name="update" id="id_update" value="True">
<!--                    {{ item.update_quantity_form.quantity }}-->
<!--                    {{ item.update_quantity_form.update }}-->
                    <input type="button" value="+" class="btn btn-primary btn-cust" onclick="plus({{ product.id }}, {{ product.count }})"/>
                    </div>
                    <input id="bt{{ product.id }}" class="confirm" type="submit" value="{% trans 'Confirm' %}">
                </form>
            </td>
<!--            <td>-->
<!--                {{ item.quantity }}-->
<!--            </td>-->
            <td class="num">֏ {{ item.price }}</td>
            <td class="num pr-total">֏ {{ item.total_price }}</td>
            <td><a href="{% url 'cart:cart_remove' product.id %}">{% trans "Delete" %}</a></td>
        </tr>
        {% endwith %}
        {% endfor %}
        <tr id="total-amount" class="total">
            <td>{% trans "Total amount" %}</td>
<!--            <td colspan="0"></td>-->
            <td class="num">֏ {{ cart.get_total_price }}</td>
        </tr>
    </tbody>
</table>
<p class="text-right">
    <a href="{% url 'product:index' %}" class="button light">{% trans "To the store" %}</a>
    {% if cart %}
            <script>
            //get product onclick confirm button
            $(document).on("click", "#checkout", function (event) {
              event.preventDefault();
              const inputs = document.getElementsByClassName("inp");
              let isValid = true;

              for (let i = 0; i < inputs.length; i++) {
                  let id = inputs[i].id;
                  let url = "{% url 'cart:cart_add' 123 %}".replace('123', id);
                  $.ajax({
                    type: "GET",
                    url: url,
                    async: false,
                    data: {product_id: id},
                    dataType: "json",
                    success: function (response) {
                        var input = document.getElementById(id);
                        cnt = response["product"].count;
                        console.log("cnt" + cnt);
                        console.log("input.value " + input.value );
                        if (input.value > cnt) {
                            isValid = false;
                            console.log("in for" + isValid);
                            document.getElementById('err' + id).innerHTML="{% trans 'In the store' %} " + cnt + " " + "{% trans 'items' %}";
                            document.getElementById('err' + id).style.color = "red";
                            input.style.color = "red";
                        }
                    },
                    error: function (rs, e) {
                      console.log(rs);
                    },
                  });
              }
              console.log(isValid);
              if (isValid == true) {
                document.location.replace("{% url 'cart:checkout' %}");
              }
            });
            </script>
<!--    href="{% url 'cart:checkout' %}"onclick="clic();" -->
    <a id="checkout" class="button">{% trans "To order" %}</a>
    {% endif %}
</p>
{% endblock %}
